<!DOCTYPE html>
<html>
<head>
    <div id="header" >
    <title>Register to my website</title>
    </div>
</head>

<body>
<h1><b>Register for my website</b></h1>
<form action="/" method="post"> ###inputs name lname email and password into the website
    <label for="fname">First Name: </label><br>
    <input type="text" id="fname" name="fname" value=""> <br>
    <label for="lname">Last Name: </label><br>
    <input type="text" id="lname" name="lname" value=""> <br>
    <label for="mail">E-mail:</label><br>
    <input type="email" id="mail" name="mail" value=""> <br>
    <label for="pword">Password:</label><br>
    <input type="password" id="pword" name="pword" value=""> <br>
    <input type="submit" value="Submit"> <br>
</form>
</body>


</html>